.body {
    background-color: #A8C7A2;
    height: 200vh;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: 33rem;
  border-bottom: 2px solid rgb(8, 8, 8);
  border-top: 2px solid rgb(8, 8, 8);
  line-height: 1;
  top : 12rem ;
  font-family:monospace;
}
#cssmenu ul {
  background: #A8C7A2;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
    background-color: #A8C7A2;
   
}
.intro-img{
    position: relative;
    width: 15rem;
    height: 15rem;
    top: 3rem;
    left: 12rem ;
    border-radius: 1rem ;

}
.card1{
    position: relative;
    top: 15rem;
    background-color: #ffffff !important;
}
.card2{
    position: relative;
    top: 8rem;
    background-color: #ffffff !important ;
}
.about-sm-card{
    position: relative;
    top: 12rem ;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.about-do-card{
    position: relative;
    top: 14rem ;
    right: 3rem;
}
.jordan{
    position: relative;
    font-family: Chalkduster, fantasy ;
    top: 10rem ;
    left: 10rem;
    font-size: 5rem ;
}
.flag-jor{
    position: relative;
    top: 2rem ;
    width: 7rem;
    height: 7rem;
    border-radius: 100px;
}
.tradition-up{
    position: relative;
    top: 9rem;
}
.tradition-bottom{
    position: relative;
    top: 10rem;
}
.song-tradition{
    position: relative;
    top:62rem;
}
.wadi-rum{
  position: relative;
  top:10rem;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}
.big-card{
  position: relative;
  top: 10rem;
  left: 5rem ;
}
.last-word{
  position: relative;
  top: 10rem;
  left: 2rem;
  text-align: center;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}